/* 
login_btn_color: #848FA5
saveyourspot_btn: #14AECF
downsymbol: &darr;
coverpic: #0A194E
drop_highlight: #09A3CF
featured: #F7F7F7
featured text: #7E7E7E
 */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.heading{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;

    padding: 0 3%;
    height: 48px;
}
.contact_bar{
    display: flex;
    align-items: center;
}
.phone{
    padding-right: 10%;
    border-right: 2px solid white;
    font-weight: bold;
}
    .phone a{
        color: white;
    }
.social_media{
    display: flex;
    margin-left: 10%;
}
    .icon{
        width: 16px;
        height: 16px;
        background-color: white;
        margin-right: 12px;
    }
.login_btn{
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}
    .login_btn a{
        color: white;
    }
header{
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    height: 96px;
    align-items: center;
}

menu ul{
    display: flex;
}
menu ul li{
    height: 96px;
    line-height: 96px;
}
.dropdown{
    position: relative;
    cursor: pointer;
}
.drop_list{
    position: absolute;
    top: 96px;
    left: 0;
    display: none;
    width: 300px;
    background-color: black;
}

menu ul li{
    list-style-type: none;
    padding: 0 24px;
    text-transform: uppercase;
    font-weight: bold;
}
.drop_list a{
    display: block;
    color: white;
    padding: 0 5%;
    transition: color .7s;
}

.dropdown:hover{
    background-color: black;
    color: white;
}
.dropdown:hover .drop_list{
    display: block;
}
.drop_list a:hover{
    color: #09A3CF;
}
.search_icon{
    width: 30px;
    height: 30px;
    background-color: black;
    cursor: pointer;
}

.coverpic{
    height: 800px;
    background-color: #0A194E;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.coverpic h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 150px;
    font-weight: bold;
}
.coverpic p{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.saveyourspot{
    margin-top: 24px;
}
.saveyourspot p{
    background-color: #14AECF;
    font-size: 16px;
    margin: auto;
    width: 20%;
    height: 72px;
    line-height: 72px;
    transition: .3s;
}
.saveyourspot p:hover{
    background-color: #14a0cf;
}

.featured_in{
    background-color: #F7F7F7;
    padding-bottom: 36px;
}
    .heading_featured{
        display: flex;
        justify-content: center;
        padding: 16px 0;
        font-weight: bold;
        color: #7E7E7E;
        text-transform: uppercase;
    }
    .com_container{
        display: flex;
        justify-content: space-between;
        padding: 0 10%;
    }
    .com{
        background-color: black;
        width: 128px;
        height: 48px;
    }

.mission{
    padding: 72px 15%;
    text-align: center;
}
.area_master{
    text-align: center;
}
    .heading_master h2{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 48px;
    }
    .heading_master p{
        text-transform: uppercase;
        font-size: 18px;
    }
    .thumbnail_container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 48px 15%;
    }
        .thumbnail{
            width: 350px;
            height: 250px;
            background-color: black;
            margin: 12px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .thumbnail p{
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
        }