/* 
login_btn_color: #848FA5
saveyourspot_btn: #14AECF
downsymbol: &darr;
coverpic: #0A194E
drop_highlight: #09A3CF
featured: #F7F7F7
featured text: #7E7E7E
 */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}

.header{
    padding: 0 5%;
}
.header_top{
    background-color: black;
    color: white;
    width: 100%;
    height: 3em;

    display: flex;
    justify-content: space-between;

    font-weight: bold;
    text-transform: uppercase;
}
    /* overwite a */
    .header_top a{
        color: white;
    }

.connect_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .connect_phone{
        padding-right: 1em;
        border-right: 1px solid white;
    }
    .connect_social_icons{
        display: flex;
        align-items: center;
        padding: 0 1em;
    }
        .social_icon{
            background-color: white;
            width: 1.5em;
            height: 1.5em;
            margin: 0 0.5em;
        }
    .login_button:hover{
        color: #09A3CF;
    }

.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
}
menu ul li{
    display: inline-block;
    padding: 0 1em;
    cursor: pointer;
    font-weight: bold;
    height: 3em;
}
.dropdown:hover{
    background-color: black;
}

.drop_list{
    display: none;
}
.search_container{
    width: 1.5em;
    height: 1.5em;
    background-color: black;
}