/* 
body-bg: #EBEBEB
orange: #F18121
blue: #2C7ABE

ltblue#56CCFA
ltorange#EEB686
*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #EBEBEB;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
.header{
    text-transform: uppercase;
    padding: 5em 0;
    text-align: center;

    background-color: #2C7ABE;
    color: white;
}
    .header h1{
        margin: 1em 0;
    }
    .header p{
        font-size: 1.5em;
    }
.section{
    display: flex;
    justify-content: center;
    padding: 1em 5em;
}

.item-container{
    width: 25vw;
    min-width: max-content;
    background-color: white;
    padding: 1em;
    margin: 1em;

    box-shadow: 5px -5px 10px -10px;
}
    .item-container-header{
        /* width: 100%; */
        text-align: center;
        /* margin: 1em; */

        padding: 1em 0;
        text-transform: uppercase;
        background-color: #F18121;
        color: white;
    }
    .item{
        padding: 1em;
        /* padding-right: 3em; */
        margin: 1em;

        background-color: #2C7ABE;
        color: white;
    }
    .item:hover{
        background-color: #F18121;
        color: black;
    }
        /* .item ul{

        } */
        .item li{
            /* text-indent: 2em; */
            margin-top: 1em;
        }

            .date{
                font-weight: bold;
                text-decoration: underline;
            }
            .item h3{
                font-size: 1.2em;
                /* margin-top: 1em; */
            }
            .note{
                font-style: italic;
                font-size: 0.8em;
            }
            .item a{
                display: block;
                width: max-content;
            }
            .item a:hover{
                color: white;
            }
.footer{
    background-color: #2C7ABE;
    text-align: center;
    padding: 2em 0;

}
    .footer a{
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        text-transform: uppercase;
        text-decoration: underline;
    }
    .footer a:hover{
        color: #F18121;
    }




    
@media (max-width: 800px){
    .section{
        flex-direction: column;
        align-items: center;
    }
    .item-container{
        width: 100%;
    }
}