header{
    background-color: var(--bs-dark);
    color: white;
    padding: 1rem 0;
    margin-bottom: 3rem;
}
h1, h2{
    text-transform: uppercase;
    font-weight: bold;
}
a{
    color: inherit;
}
    header h1{
        margin-bottom: 1rem;
    }
    header p{
        font-size: 1.5rem;
    }

b{
    color: var(--bs-danger);
}
.card-header{
    background-color: var(--bs-dark);
    color: white;
}

footer{
    background-color: var(--bs-dark);
    color: white;
    padding: 1rem 0;
    margin-top: 3rem;
}
    footer i{
        font-size: 2rem;
        margin-right: 1rem;
    }
    footer a:hover{
        color: var(--bs-warning);
    }