/* 
bg-form-body: dcf2e5
bg-form-header: cadceb
border-form: 808080
border-section: d6d5d9

color-form-headings: 105289

border-table: 0c94d8

bg-table: ecf1f3
*/


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
table, th, td{
    border: 1px solid #0c94d8;
}
    table{
        width: 100%;
    }
    th, td{
        padding: 0.5em 1em;
        text-align: left;

        background-color: #ecf1f3;
    }
    th{
        width: 30%;
    }
    td{
        width: 70%;
    }
    .cc_no{
        width: 4em;
    }

input, select{
    padding: 0.5em;
}


.form_container{
    width: 50vw;
    margin: auto;
    margin-top: 10vh;

    background-color: #dcf2e5;
    border: 1px solid #808080;
    overflow: hidden;
}
    .form_header{
        background-color: #cadceb;
        color: #105289;
        border: 1px solid #808080;

        margin: 1em;
        padding: 0.5em 2em;
        width: max-content;
    }
        .form_header h2{
            font-size: 1.5em;
            font-weight: bold;
            text-transform: capitalize;
        }

    .form_section{
        width: 90%;
        margin: 1em;
        padding: 1em;

        border: 1px solid #d6d5d9;
        border-radius: 10px;
    }




        /* .product_info_table{
            border: 5px double #0c94d8;
            padding: 1em;
        } */





    .form_button{
        text-align: center;
        padding: 1em 0;
        
        border-top: 1px solid #808080;
        background-color: #ecf1f3;
    }
        .button_container button{
            margin: 0.5em;
            padding: 0.5em 1em;
        }